<div class="main" id="playlist">
  <div class="container">
    <!-- List -->
      <br>
      <ul class="list-group" *ngIf="currentItem; else elseBlock">
        <li *ngFor="let item of heroes; let $index = index"
            (click)="onClickPlaylistItem(item, $index, nowPlaying)"
             class="list-group-item">
          <a class="list-group-item nonactive" [class.selected]="item === currentItem" >
            <h4 class="list-group-item-heading">{{ item.artist }} - {{ item.title }}</h4>
            <p class="list-group-item-text">January 26, 2018
              Tags: <b>Blues, Rock, Loud, Drums, Live</b>
            </p>
            <div class="play-this" id="playlist_item_{{ $index }}">
              <i class="fa fa-play" aria-hidden="true"></i>
            </div>
          </a>
          <div class="progressbar" id="progress_item_{{ $index }}">
          </div>
        </li>
      </ul>
      <ng-template #elseBlock>
        <ul class="list-group">
          <li class="list-group-item">
            <a class="list-group-item nonactive">
              <h4 class="list-group-item-heading">
                Tunes are loading...
              </h4>
              <p class="list-group-item-text">
                Please wait.
              </p>    
            </a>
          </li>
        </ul>
      </ng-template>

  </div>
</div>
<div *ngIf="currentItem" class="now-playing" style="width: 100%; z-index:10000000000000000000;">
  <h6>Now playing: <b>{{currentItem.artist}} - {{currentItem.title}}</b></h6>
</div>
<div class="main" id="player"  *ngIf="currentItem" >
  <div class="container">
    <vg-player (onPlayerReady)="onPlayerReady($event)" id="mediaOne" style="height: 50px;">

      <vg-controls>
        <vg-play-pause></vg-play-pause>

        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
        <vg-scrub-bar [vgFor]="mediaOne2">
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
        <vg-mute></vg-mute>
      </vg-controls>
      <audio  *ngIf="currentItem"
              #mediaOne
              [vgMedia]="mediaOne"
              id="mediaOne2"
              crossorigin
              [src]="'/assets/music/' + currentItem.artist + '%20-%20' + currentItem.title + '.mp3'"><
      </audio>
    </vg-player>
  </div>
</div>
