.list-group {
  background: none;
}
.list-group, .list-group-item{
  padding: 5px;
    background: none;
    border:none;
}
.nonactive {
  background-color: rgba(0, 0, 0,.75);
}
 .active{
  padding: 0px;
  background-color: rgba(20, 20, 50,.75);
}
.list-group-item a {
  padding: 10px;
}
  .play-this {
    position: absolute; right: 20px; bottom: 18px; font-size: 20px; float: right;
  }



  body {
    /* Margin bottom by footer height */
    margin-bottom: 50px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
  }
  vg-player {
    height: 50px;
    background: rgba(0,0,0,.25);
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
  }


  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      font-family: sans-serif;
  }

  ul li {
      padding: 10px;
      cursor: pointer;
  }

  ul li.selected {
      background-color: #dddddd;
  }

  ul li:hover {
      background-color: #cce6ee;
  }
